#form-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 30px 0;
}

.new-post-form {
  display: flex;
  flex-direction: column;
  flex-basis: 20em;
}

.new-post-title input {
  width: 100%;
}

.new-post-body textarea {
  height: 9em;
  width: 100%;
}

.new-post-form button {
  width: 50%;
  align-self: center;
}
